<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
    <h1> Proton Flask ⚛️</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <dialog open>
                <p>{{ messages[0] }}</p>
                <form method="dialog">
                    <button type="submit">U redu</button>
                </form>
            </dialog>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>